.App {
  font-size: 10px;
}

.App-header {
  background: linear-gradient(135deg, #5f6165 50%, #58595d 50%);
    background-image: linear-gradient(135deg, #282c34, #363a40);
    background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-flow: row;
  flex-wrap: wrap;
}
.sectionPiano{
  display: flex;
  align-items: left;
  flex-direction: column;
  
}
.sectionInfo{
  display: flex;
  align-items: left;
  flex-direction: column;
  font-size: 10px;
}


  

