@import url('http://fonts.cdnfonts.com/css/elegant-2');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
.headWhite{
  background-color: white; 
  width: 35px; 
  border-radius: 8px 8px 0px 0px;
  border: 2px solid black;
  user-select: none;
}
.headBlack{
  background-color: black;
  width: 35px;
  border-radius: 8px 8px 0px 0px;
  border: 2px solid black;
  user-select: none;
}
.binArray-txt{
  font-family: 'ELEGANT', sans-serif;
  color: black;
  font-weight: 800;
  font-size: 18px;
  pointer-events: none;
  padding-top: 3px;
}
.binArray-txt-sharp{
  font-family: 'ELEGANT', sans-serif;
  color: white;
  font-weight: 800;
  font-size: 17px;
  pointer-events: none;
  padding-top: 3px;
}
.binArray{
  background-color: white;
  height: 44px;
  width: 35px;
  border: 2px solid black;
  border-radius: 0px 0px 8px 8px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%);
  user-select: none;
}
.binArray:hover{
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#afafaf 100%);
  cursor:pointer;
}

.binary-txt{
  font-family: 'Noto Serif', serif;
  color: black;
  font-weight: 100;
  font-size: 35px;
  pointer-events: none;
  margin-top: -6px;
}

.binArray.pressed{
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#afafaf 100%);
}

.squared-txt{
  font-family: 'Noto Serif', serif;
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 12px;
  pointer-events: none;
  margin-top:5px;
}
.noteLineaBin{
  width: 60%;
  margin-top: -5px;
}