@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&family=Staatliches&display=swap');
.titleMatriz{
  font-family: 'Cinzel', serif;
  font-size: 22px;
  display: inline;
}
.cellM{
  border-style:none;
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 22px;
  height: 18px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  border-radius: 2px;
}
.border{
  border: 2px solid #342828;
}
.note{
  font-weight: 900;
}
.redNote{
  color: rgb(255, 0, 0);
}
.toggle-switch-m {
  display: inline;
  margin-left: 5px;
  margin-bottom: 5px;
}

.toggle-switch-m input {
	height: 1px;
	width: 1px;
	overflow: hidden;
  
  margin-bottom: 20px;
}

.toggle-switch-m label{
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
  border: 2px solid #422800;
  border-radius: 5px;
  box-shadow: #422800 4px 4px 0 0;
  font-weight: 600;
	font-size: 14px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
	text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	padding: 0 10px;
	margin-right: -15px;
  line-height: 30px;
	transition: all 0.1s ease-in-out;

}

.toggle-switch-m label:hover {
	cursor: pointer;
  background-color: #fff;
}

.toggle-switch-m input:checked + label {
	transition: all 0.1s ease-in-out;
  background-color: #fbeee0;
  border: 2px solid #422800;
  color: #422800;
  font-size: 18px;
  cursor: auto;
}
.turn_btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 5px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 20px;
}
.turn_btn > .material-symbols-outlined{
   vertical-align: middle;
   font-size: 18px;
}
.turn_btn:hover {
  background-color: #fff;
}

.turn_btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}