@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&family=Staatliches&display=swap');

.cellV_th{
  border: 2px solid #342828;
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 28px;
  height: 22px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  border-radius: 3px;
}
.cellV_td{
  border: 2px solid #342828;
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 28px;
  height: 22px;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-radius: 3px;
}
.titleVector{
  font-family: 'Cinzel', serif;
  font-size: 20px;
}