
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&family=Staatliches&display=swap');

.titleForm{
  font-family: 'Cinzel', serif;
  font-size: 20px;
}
.cellF{
  border: 2px solid #342828;
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 24px;
  height: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  border-radius: 3px;
}