@import url('http://fonts.cdnfonts.com/css/elegant-2');

.key{
  background-color: white;
  height: 210px;
  width: 60px;
  border: 2px solid black;
  border-radius: 0 0 10px 10px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%);
  user-select: none;
  cursor:pointer;
}
.key.sharp{
  position: relative;
  background-color: black;
  margin-left: -22px;
  margin-right: -22px;
  height: 140px;
  width: 40px;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%)
}

.key-txt{
  font-family: 'ELEGANT', sans-serif;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 200;
  font-size: 30px;
  margin-top: 150px;
  pointer-events: none;
}

.key-txt-sharp{
  font-family: 'ELEGANT', sans-serif;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  font-size: 20px;
  margin-top: 90px;
  pointer-events: none;
}

.key.pressed{
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#bababa 100%);
  transform: translateY(5px);
}
.key.sharp.pressed{
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,rgb(71, 71, 71) 0%,rgb(195, 195, 195) 100%);
  transform: translateY(5px);
}


.subNote{
  font-size: 11px;
  margin: 0px;
  padding-top: 3px;
}
.noteLinea{
  width: 60%;
  margin: auto;
}
