@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&family=Staatliches&display=swap');
.piano{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: fit-content;
  zoom: 100%;
  margin-top: 10px;
  border:10px solid rgba(212,152,125,0.2);
  background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
}
.vector{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: fit-content;
  zoom: 100%;
  margin-top: 20px;
}

.reset_btn, .volume_btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 5px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 0 16px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 5px;
  margin-left: 5px;
}

.reset_btn:hover, .volume_btn:hover {
  background-color: #fff;
}

.reset_btn:active, .volume_btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.material-symbols-outlined{
  vertical-align: middle;

}

.toggle-switch {
  display: inline;
  margin-left: -5px;
}

.toggle-switch input {
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.toggle-switch label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
  border: 2px solid #422800;
  border-radius: 5px;
  box-shadow: #422800 4px 4px 0 0;
  font-weight: 600;
	font-size: 14px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
	text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	padding: 0 10px;
	margin-right: -15px;
  line-height: 30px;
	transition: all 0.1s ease-in-out;

}

.toggle-switch label:hover {
	cursor: pointer;
  background-color: #fff;
}

.toggle-switch input:checked + label {
	transition: all 0.1s ease-in-out;
  background-color: #fbeee0;
  border: 2px solid #422800;
  color: #422800;
  font-size: 18px;
  cursor: auto;
}
